:root {
  /***** colors *****/
  --pri__pink: hsl(322, 100%, 66%);
  --neut__vpale-cyan: hsl(193, 100%, 96%);
  --neut__vdk-cyan: hsl(192, 100%, 9%);
  --neut__grayish-blue: hsl(208, 11%, 55%);

  /***** fonts *****/
  --ff__open-sans: "Open Sans", sans-serif;
  --ff__poppins: "Poppins", sans-serif;
}
